:host ::ng-deep .accordion-custom {
  .accordion-button {
    background-color: var(--cui-dark);
    color: var(--cui-white);
  }
}

:host-context(.dark-theme) ::ng-deep {
  .accordion-button.collapsed {
    color: var(--cui-white);
  }
}

